// Colors
$base-color: #333;
$brand-color: #171c28;
$accent-color: #99cc00;

$title-color: #39445b;
$text-color: #39445b;
$text-light: #6a7387;

$bg-color-dark: #292E3A;
$bg-color-medium: #c3cbd3;
$bg-color-light: #f3f7f9;

// Hovers
$accent-color-hover: #8cba00;

// Transitions
$transition: all .3s ease-out;

// Font
$font-condensed: 'Roboto Condensed', sans-serif;