@import '../variables.scss';

.section-claim {
    background: url('../img/bg-claim.jpg') no-repeat center right;
    background-size: 80%;

    .wrap {
        width: 45%;
        margin: 0 auto 20px auto;
    }

    h3 {
        font-size: 1.4em;
        color: $text-light;
    }
   
}

// Responsive - Mobile
@media (max-width: 575px) {
    .section-claim {
        background-position: right 65px;
        background-size: 120%;

        .wrap {
            width: auto;
        }

        h2 {
            width: 90%;
            text-align: left;
        }
        h3 {
            width: 60%;
            text-align: left;
        }
        p {
            text-align: left;
        }
    }
}