@import '../variables.scss';

.section-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;

    img {
        align-self: center;
    }
}